@charset "utf-8";
/* CSS Document */

body{font-family:"微软雅黑";background:#f4f4f4;}
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{display:block;border:none;}

input{outline:none;border:none;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{zoom:1;}
.wrapper{width:320px;margin:0 auto;overflow:hidden;}