@charset "utf-8";
/* CSS Document */
body{height:2000px;}
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{display:block;border:none;}
input{outline:none;}
.fl{float:left;}
.fr{float:right;}
.clearFix:after{content:"";display:block;clear:both;}
.clearFix{zoom:1;}
.wrapper{width:1190px;margin:0 auto;overflow:hidden;padding-left:50px;}